.row {
	display: flex;
	gap: 40px;
	justify-content: center;
}
.col {
	margin-top: 40px;
	width: 300px;
	background: #f4f5f7;
	padding: 10px;
}
button {
	border: none;
	display: block;
	margin-top: 20px;
	background: transparent;
	cursor: pointer;
}
button.delete-button {
	margin-left: 80px !important;
	display: inline-block;
	visibility: hidden;
}
.card-section:hover .delete-button {
	visibility: visible;
}
button svg {
	height: 24px !important;
	width: 24px !important;
	vertical-align: middle;
	color: #42526e;
	opacity: 0.5;
}
.card-section {
	max-width: 300px;
	cursor: pointer;
	user-select: none;
	/* box-sizing: border-box; */
	/* display: flex; */
	/* flex-direction: column; */
	/* position: relative; */
	margin: 5px 0px;
	border-radius: 3px;
	box-shadow: var(
		--ds-shadow-raised,
		0 1px 1px rgba(23, 43, 77, 0.2),
		0 0 1px rgba(23, 43, 77, 0.2)
	);
	/* transition: background-color 140ms ease-in-out 0s, color 140ms ease-in-out 0s; */
	background-color: #fff;
	color: var(--ds-text, #172b4d);
	/* filter: none; */
	height: 80px;
	/* margin-top: 10px; */
}
.card-input {
	border: none;
}
input.card-input:focus-visible {
	outline: none !important;
}
